:root {
  --white: #ffffff;
  --black: #000000;
  --past: #d3d3d3;
  --present: #ff6961; 
  --future: #77dd77;
  --save: #06aed5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#currentDay {
  text-align: left;
  font-size: 35px;
  margin-bottom: 1px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px solid var(--black);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--white);
}

.hour {
  background-color: var(--white);
  color: var(--black);
  border-top: 1px dashed var(--black);
}

.past {
  background-color: var(--past);
  color: var(--white);
}

.present {
  background-color: var(--present);
  color: var(--white);
}

.future {
  background-color: var(--future);
  color: var(--white);
}

.saveBtn {
  border-left: 1px solid var(--black);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--save);
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

